.libra-bg-header {
  background-color: #5a60d0;
}

.libra-brand {
  color: #0f0f0f;
}

.libra-nav-item {
  color: #222222;
  font-size: 16px;

  padding-left: 10px;
  padding-right: 10px;
}

.libra-nav-item:link {
  text-decoration: none;
}

.libra-nav-item:hover {
  color: #000000;
}

.libra-nav-selected {
  color: #111111;
  font-weight: bold;
}

.dropdown-item:hover {
  color: inherit;
  cursor: pointer;
  background-color: #829bee;
}
